<% @body_class = 'index' %>
<%= erb :'_header' %>


<div class="container">
 <h1>[DEMO HERE]</h1>

 <div id="content_box">
  <h3 class="tc">To get started, sign in with your Instagram account.</h3>
  <p class="tc">
   <a class="button" href="/auth/instagram">Sign in with Instagram</a>
  </p>
 </div>
</div>


<%= erb :'_footer' %>